body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("../res/bg.png");
    background-repeat: repeat;
    padding: 0;
    margin:0;
}

.center-style{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

button{
    font-family: 'Quicksand', sans-serif;
    display:inline-block;
    margin:12px;
    text-decoration:none;
    font-size:17px;
    border:10px #fcf9ec00;
    border-radius:5px;
    color:#000000;
    background-color:#f7e9ab;
    padding:5px 7px;
}

button:hover{
    color:#ffffff;
    background-color:#f5d02f;
}

#logo_cont {
    margin: auto;
    text-align: center;
    padding-top: 5vh;
}

#logo_img{
    width: 800px
}

#textblock{
    width: 60vw
}