body{
    background-color: hsl(50, 80%, 73%);
}

button{
    display:inline-block;
    margin:12px;
    text-decoration:none;
    font-family: 'Quicksand';
    font-size:17px;
    border:10px #fcf9ec00;
    border-radius:5px;
    color:#000000;
    background-color:#f7e9ab;
    padding:5px 7px;
}


#overview {
    top: 50%;
    left: 30%;
    width: 60em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #666;
    
    position: fixed;
}

.stack{
    border: 1px solid #666;
    background-color: hsl(226, 38%, 42%);
}